.addtocart{
    display:none;

    text-align: center;
}
.single-products-catagory:hover .addtocart{
    display:block;
}
.white-nothover *{
    color:white !important;
    text-shadow: 0 0 4px black;
}
.black-nothover *{
    color:black !important;
    text-shadow: 0 0 4px white;
}