    /* ####################################################
    :: Template Name: Essence - Fashion Ecommerce Template
    :: Author: Colorlib
    :: Author URL: https://colorlib.com
    :: Description: Essence is smart & elegant fashion e-commerce Template. It's suitable for all e-commerce business platform.
    :: Version: 1.0.0
    :: Created: April 27, 2018
    :: Last Updated: May 2, 2018
    #################################################### */

    /* ---------------------------------------
    ##### - PLACE YOUR CUSTOM CSS HERE - #####
    --------------------------------------- */
    .cart-fav-search .cart-nav, .cart-fav-search .fav-nav{
        display: none !important;
    }
    .social-info.d-flex.justify-content-between{
        padding-top:50px;
    }
    body{
        background-size: 100vw 100vh !important;
        background-attachment: fixed !important;
    }
    
    .checkout_details_area.mt-50.clearfix{
        background: #ffffff;
        padding: 10px;
    }
    table.table-responsive{
        background: #ffffff;
    }

    .amado-navbar-brand h6{
        margin-top:5px;
    }
    #extdis a{
        color:#007bff;
    }
    header.header-area.clearfix{
        background-image: url(stat.png) !important;
        
        background-size: auto 100% !important;
        background-attachment: fixed;
    }
    .social-info.d-flex.justify-content-between{
        display: none !important;
    }
    header.header-area.clearfix * {
        font-weight: bold !important;
    }